{% extends 'basenew.html' %}
{% load i18n static generic_tags %}
{% block extra_css %}
    <style>
    td, th {
        text-align: center;
    }
    </style>
{% endblock %}

{% block main %}

<div class="container-fluid" id="wrapper">
    <div class="table-responsive">
        <header><h2>{% trans "Enrolled list" %}</h2></header>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="success">
{#                <th>{% trans "User" %}</th>#}
                <th>{% trans "Complex" %}</th>
                <th>{% trans "Program" %}</th>
{#                <th>{% trans "Amount" %}</th>#}
{#                <th>{% trans "Status" %}</th>#}
{#                <th>{% trans "Status" %}</th>#}
                <th>{% trans "Invoice" %}</th>
                <th>{% trans "Reference Number" %}</th>
                <th>{% trans "Receipt" %}</th>
{#                <th>{% trans "Receipt" %}</th>#}
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
{#                    <td>{{ item.user.email }}</td>#}
                    <td>{{ item.programDefinitionKey.agreementKey.clubKey }}</td>
                    <td>{{ item.programDefinitionKey.title }}</td>
{#                    <td>{{ item.amount }}</td>#}
{#                    {% if item.status == 3 %}#}
{#                        <td style="color: green">#}
{#                    {% else %}#}
{#                        <td style="color: red">#}
{#                    {% endif %}#}
{#                    {{ item.get_status_display }}</td>#}
{#                    {% if item.isValid %}#}
{#                        <td style="color: green">{% trans "Active" %}</td>#}
{#                    {% else %}#}
{#                        <td style="color: red">{% trans "Inactive" %}</td>#}
{#                    {% endif %}#}
                    <td>{{ item.invoiceKey.context }}</td>
                    <td>{{ item.referenceNumber }}</td>
{#                    <td><a onclick="PrintElem('#mydiv')" >{% trans "Print" %}</a></td>#}
                    <td><a href="/accounts/print/{{ item.id }}" target="_blank">{% trans "Print" %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extra_js_end %}
    <script type="text/javascript">

    function PrintElem(elem)
    {
        printedItemId = id;
        console.log(printedItemId);
        window.print();
        //Popup($(elem).html());
    }

    function Popup(data)
    {
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        mywindow.document.write('<html><head><title>رسید خرید</title>');
{#        mywindow.document.write("<link rel=\"stylesheet\" href=\"bootstrap.css\" type=\"text/css\" media=\"print\" />");#}
{#         mywindow.document.write("<link rel=\"stylesheet\" href=\"myCss.css\" type=\"text/css\"  />");#}
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body dir="rtl">');
        mywindow.document.write(data);
        console.log(data);
        console.log(mywindow.document);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>
{% endblock %}
