{% load i18n future staticfiles %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.css"  %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-select.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/css/owl.carousel.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/css/red.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/css/user.style.css" %}" type="text/css">

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{#    {% ifinstalled mezzanine.blog %}#}
{#    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">#}
{#    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">#}
{#    {% endifinstalled %}#}

    {% if LANGUAGE_BIDI %}
    {#<link rel="stylesheet" href="{% static "css/rtl.css" %}">#}
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-rtl.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/css/rtl.css" %}" type="text/css">
    {% endif %}

    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body onunload="" class="page-subpage navigation-off-canvas" id="page-top" >
{% block body %}
{% block modal%}{% endblock %}
<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    
        <!-- Navigation-->
        <div class="header container">
            <div class="wrapper">
                <div class="brand">
                    <a href="/"><img src="{% static "assets/img/logo.png" %}"alt="logo"></a>
                </div>
                <nav class="navigation-items">
                    <div class="wrapper">
                        {% block authentication %}
                        <ul class="user-area">
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'profileUpdate' %}">{% trans "Profile" %}</a></li>
                                    <li><a href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}">{% trans "Sign Out" %}</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a></li>
                        {% else %}
                            {% block register %}<li><a href="{% url  'registration_register' %}?next={{ request.path }}">{% trans "Register" %}</a></li>{% endblock %}
                            {% block login %}<li><a href="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}">{% trans "Sign In" %}</a></li>{% endblock %}
                        {% endif %}
                        </ul>
                        {% endblock %}
                        <a type="button" href="#" class="submit-item" data-toggle="tooltip" data-placement="bottom" title="{% trans "Submit Your Item" %}">
                            <span id="club-register" class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        
                        {% block toggle-nav %}{% endblock %}
                    </div>
                </nav>
            </div>
        </div>

{#        {% nevercache %}#}
        {% if user.is_authenticated and not perms.accounts.profile_is_update %}
        <div class="alert alert-dismissable alert-warning" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% trans "Please update your profile to finish your registration." %} <a href="{% url "profileUpdate" %}">{% trans "Click here" %}</a>
        </div>
        {% endif %}

        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
{#        {% endnevercache %}#}
        <div id="inner-wrapper">
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            {% block navigation %}{% endblock %}
            <!--end Off Canvas Navigation-->
{#            <!--Sub Header-->#}
{#            <section class="sub-header">#}
{#                <div class="search-bar horizontal collapse" id="redefine-search-form"></div>#}
{#                <!-- /.search-bar -->#}
{#                <div class="breadcrumb-wrapper">#}
{#                    <div class="container">#}
{#                        <ol class="breadcrumb">#}
{#                            <li><a href="index-directory.html"><i class="fa fa-home"></i></a></li>#}
{#                            <li><a href="#">Page</a></li>#}
{#                            <li class="active">Detail</li>#}
{#                        </ol>#}
{#                        <!-- /.breadcrumb-->#}
{#                    </div>#}
{#                    <!-- /.container-->#}
{#                </div>#}
{#                <!-- /.breadcrumb-wrapper-->#}
{#            </section>#}
{#            <!--end Sub Header-->#}

            <!--Page Content-->
            <div id="page-content">
            {% block main %}{% endblock %}
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
        <!--Page Footer-->
        <footer id="page-footer">
            <div class="inner">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <!--New Items-->
                                <section>
                                    <h2>{% trans "Newsletter" %}</h2>
                                    <div class="newsletter">
                                        <div>{% trans 'Keep up on our always evolving product features. Enter your e-mail and subscribe to our newsletter.' %}</div>
                                        <p></p>
                                    <div id="mlb2-660983" class="ml-subscribe-form">
                                        <div class="subscribe-form ml-block-success" style="display:none">
                                        <div class="input-group">
                                            <div>{% trans "<strong>Success!</strong> You've been added to our newsletter." %}</div>
                                        </div>
                                        </div>
                                        <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/u6g7q4" data-code="u6g7q4" method="POST" target="_blank">
                                        <div class="input-group">
                                          <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                                            <input type="text" name="fields[email]" class="form-control" placeholder="{% trans "Email" %}" value="">
                                            <input type="hidden" name="ml-submit" value="1" />
                                            <span class="input-group-btn">
                                              <button type="submit" class="btn btn-default">{% trans 'Subscribe' %}</button>
                                            </span>
                                          </div>
                                        </div>
                                        </form>
                                    </div>
                                    </div>
                                </section>
                                <!--end New Items-->
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <section>
                                    <h2>{% trans "Contact Us" %}</h2>
                                    <address>
                                        <div>{% trans '5th Floor, Anestito-Mohandesi-Naft Building, Daneshkadeh-Fanni Tehran University, North Karegar Ave, Tehran, Iran' %}</div>
                                        <figure>
                                            <div class="info">
                                                <i class="fa fa-mobile"></i>
                                                <span>{% trans '+98-912-308-6945' %}</span>
                                            </div>
{#                                            <div class="info">#}
{#                                                <i class="fa fa-phone"></i>#}
{#                                                <span>+1-123-456-789</span>#}
{#                                            </div>#}
                                            <div class="info">
                                                <i class="fa fa-envelope"></i>
                                                <a href="mailto:hi@sportup.ir">hi@sportup.ir</a>
                                            </div>
                                        </figure>
                                    </address>
{#                                    <a href="contact.html" class="btn framed icon">{% trans "Contact Us" %}<i class="fa fa-angle-right"></i></a>#}
                                </section>
                            </div>
                            <!--/.col-md-4-->
                            <div class="col-md-4 col-sm-4">
                                <!--Recent Reviews-->
                                <section>
                                    <h2>{% trans "Follow Us" %}</h2>
                                   <div class="social">
                                        <a href="http://www.instagram.com/sportup.ir/" class="social-button"><i class="fa fa-instagram"></i></a>
                                        <a href="http://www.facebook.com/sportup.ir/" class="social-button"><i class="fa fa-facebook"></i></a>
                                        <a href="http://www.linkedin.com/company/sportup-ir/" class="social-button"><i class="fa fa-linkedin"></i></a>
                                        <a href="http://www.twitter.com/sportup.ir/" class="social-button"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </section>
                                <section><h><a href="http://about.sportup.ir/">{% trans "About Us" %}</a></h></section>
                                <!--end Recent Reviews-->
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
                <!--/.footer-top-->
                <div class="footer-bottom">
                    <div class="container">
                        <span class="left">{% trans "(C) SportUp, All rights reserved" %}</span>
                            <span class="right">
                                <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                            </span>
                    </div>
                </div>
                <!--/.footer-bottom-->
            </div>
        </footer>
        <!--end Page Footer-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->


<script type="text/javascript" src="{% static "assets/js/jquery-2.1.0.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/before.load.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery-migrate-1.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/smoothscroll.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap-select.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.hotkeys.js" %}"></script>
{% block extra_js_end %}{% endblock %}
<script type="text/javascript" src="{% static "assets/js/custom.js" %}"></script>
<script type="text/javascript" src="//static1.mailerlite.com/js/w/webforms.js?v2"></script>
{% endblock %}

<script>
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', 'UA-56387083-1']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>

</body>
</html>

