{% extends "base.html" %}
{% load i18n static future program_tags %}

{% block meta_title %}{% trans "List of complex" %}{% endblock %}

{% block title %}{% trans "List of complex" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Directory" %}</li>
{% endblock %}

{% block main %}
    <section class="container">
        <div class="row">
            <!--Item Detail Content-->
            <div class="col-md-12">
                <section class="block" id="main-content">
                    <header class="page-title">
                        <div class="title">
                            <h1>{{ object.title }}</h1>
                            <figure>{{ object.summary }}</figure>
                        </div>
                        <div class="info">
                            <div class="type">

                            </div>
                        </div>
                    </header>
                    <div class="row">
                        <!--Detail Sidebar-->
                        <aside class="col-md-4 col-sm-4" id="detail-sidebar">
                            <!--Contact-->
                                <img src="{{ object.logo.url }}" alt="{% trans "Logo" %}">
                            <section>
                                <header><h3>{% trans 'Contact' %}</h3></header>
                                <address>
                                    <div>{{ object.city }}</div>
                                    <div>{{ object.address }}</div>
                                    <figure>
                                        <div class="info">
                                            <i class="fa fa-mobile"></i>
                                            <span>{{ object.cell }}</span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-phone"></i>
                                            <span>+{{ object.phone }}</span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-globe"></i>
                                            <a target="_blank" href="{{ object.website }}" >{{ object.website }}</a>
                                        </div>
                                    </figure>
                                </address>
                            </section>
                            <!--end Contact Form-->
{#                            <article class="block">#}
{#                                <header><h2>Opening Hours</h2></header>#}
{#                                <dl class="lines">#}
{#                                    <dt>Monday</dt>#}
{#                                    <dd>08:00 am - 11:00 pm</dd>#}
{#                                    <dt>Tuesday</dt>#}
{#                                    <dd>08:00 am - 11:00 pm</dd>#}
{#                                    <dt>Wednesday</dt>#}
{#                                    <dd>08:00 am - 11:00 pm</dd>#}
{#                                    <dt>Thursday</dt>#}
{#                                    <dd>08:00 am - 11:00 pm</dd>#}
{#                                    <dt>Friday</dt>#}
{#                                    <dd>08:00 am - 11:00 pm</dd>#}
{#                                    <dt>Saturday</dt>#}
{#                                    <dd>08:00 am - 11:00 pm</dd>#}
{#                                </dl>#}
{#                            </article>#}
                        </aside>
                        <!--end Detail Sidebar-->
                        <!--Content-->
                        <div class="col-md-8 col-sm-8">
                            <section>
                                <article class="item-gallery">
                                    <div class="owl-carousel item-slider">
                                        {% for image in object.images %}
                                            <div class="slide"><img src="{{ image.imageFile.url }}" data-hash="{{ forloop.counter }}" alt=""></div>
                                        {% endfor %}

                                    </div>
                                    <!-- /.item-slider -->
                                    <div class="thumbnails">
                                        <span class="expand-content btn framed icon" data-expand="#gallery-thumbnails" >{% trans 'More' %}<i class="fa fa-plus"></i></span>
                                        <div class="expandable-content height collapsed show-70" id="gallery-thumbnails">
                                            <div class="content">
                                                {% for image in object.images %}
                                                    <a href="#{{ forloop.counter }}" id="thumbnail-{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}><img src="{{ image.imageFile.url }}" alt=""></a>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <header><h2>{% trans "Description" %}</h2></header>
                                    <p> {{ object.detail }} </p>
                                </article>
                                <!-- /.block -->
                            </section>
                                        
                        </div>
                        <div class="container">
                            {% program_list object.id %}
                        </div>
                        <!-- /.col-md-8-->
                    </div>
                    
                    <!-- /.row -->
                </section>
                <!-- /#main-content-->
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js_end %}
<script>
    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });
</script>
{% endblock %}