{% extends "base.html" %}
{% load i18n static future %}

{% block meta_title %}{% trans "List of complex" %}{% endblock %}

{% block title %}{% trans "List of complex" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Directory" %}</li>
{% endblock %}

{% block main %}
    {% for object in object_list %}
        <p>{{ object.title }}</p>
        <p>{{ object.phone }}</p>
        <p><img src="{% get_media_prefix %}{{ object.image }}"></p>
        <p><a href="{{ object.get_absolute_url }}" target="_blank">{{ object.slug }}</a></p>
    {% endfor %}
{% endblock %}
