{% extends "base.html" %}
{% load i18n static future %}

{% block meta_title %}{% trans "List of complex" %}{% endblock %}

{% block title %}{% trans "List of complex" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Directory" %}</li>
{% endblock %}

{% block main %}
	<section class="hero-image search-filter-bottom height-600">
        <div class="inner">
            <div class="container">
                <h1>{% trans 'Register in your club in blink of an eye' %}</h1>
            </div>
        </div>
        <div class="background" style="background-image: url({% static "assets/img/slide1.jpg"  %})">
        </div>
    </section>

    <section id="featured" class="block equal-height">
        <div class="container">
        	<header><h2 id="featur-header">{% trans 'Best Clubs' %}</h2></header>
    		<div class="row">
					{% for object in object_list %}
	                    <div class="col-md-3 col-sm-4">
                            <div class="item">
                                <div class="image">
                                    <div class="view-details"><i class="fa fa-eye"></i></div>
                                    <a href="{{ object.get_absolute_url }}">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <p>{{ object.summary }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ object.logo.url }}" alt="{% trans "Logo" %}">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="{{ object.get_absolute_url }}"><h3>{{ object.title }}</h3></a>
                                    <figure>{{ object.address }}</figure>
                                    <div class="info">
                                        <dl>
	                                        <dt>{% trans "Phone Number" %}</dt>
	                                        <dd>+{{ object.phone }}</dd>
	                                        <dt>{% trans "Website" %}</dt>
	                                        <dd>{{ object.website }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
	                {% endfor %}
                </div>
            </div>
	    </div>
    </section>
{% endblock %}



