.item.admin-view .view-details {
  display: none;
}

.item .view-details {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #d43133;
  cursor: pointer;
  color: #fff;
  height: 30px;
  left: 0;
  width: 60px;
  position: absolute;
  top: 20px;
  z-index: 4;
}
.item .view-details i {
  text-align: right;
  font-size: 18px;
  line-height: 28px;
  margin-right: 10px;
  display: block;
}

.item.list p, .item.list figure, .item.list a, .item.list span {
  color: #fff;
}
.item.list a:hover {
  color: #d43133;
}
.item.list .image .overlay .content h4 {
  color: #fff;
}

/*#featur-header {
	padding-top: 30px;
	padding-left: 98px;
}*/

.course-description {
	list-style-type: none;
}

table.table td img{
    width: 100%;
    height: auto;
}

#payment {
	margin-top: 30px;
}

#dashboard-bar {
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
    -moz-transition: 0.4s ease-in-out all;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  background-color: #424242;
  height: 100%;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0;
  width: 200px;
  z-index: 1;
}
#dashboard-bar ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  padding-left: 0;
  list-style: none;
}
#dashboard-bar ul li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #d43130;
  display: block;
  padding: 10px 20px;
  position: relative;
}
#dashboard-bar ul li a:hover {
  background-color: #3a3a3a;
  color: #d43133;
}
#dashboard-bar ul li a.active {
  color: #d43133;
}
#dashboard-bar ul li a.active:hover {
  color: #fff;
}
#dashboard-bar ul li ul {
  background-color: rgba(0, 0, 0, 0.3);
}
#dashboard-bar .expandable-content {
  margin-bottom: 0;
}

/*.invertedshiftdown{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.invertedshiftdown ul{
margin-top:15px;
margin-left: 40px; /*margin between first menu item and left browser edge
padding: 0;
list-style: none;
}

.invertedshiftdown li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.invertedshiftdown a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #f4f4f2;
  border: none;
  color: #d43133;
  font-size: 14px;
  font-weight: bold;
  outline: none !important;
  padding: 10px 11px 9px 11px;
  width: auto;
}
.invertedshiftdown a:hover{
  background-color: #ededea;
}
*/

.invertedshiftdown{
margin-top: 20px;
padding: 0;
width: 100%;
border-bottom: 5px solid #D10000; /*Red color theme*/
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.invertedshiftdown ul{
margin-bottom: 11px;
margin-left: 40px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.invertedshiftdown li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.invertedshiftdown a{
float: left;
display: block;
font-size: 12px;
font-weight: bold;
color: black;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 9px 10px; /*Padding within each menu item*/
background-color: white; /*Default menu color*/
}

.invertedshiftdown a:hover{
background-color: #D10000; /*Red color theme*/
color: white;
}

.invertedshiftdown .current a{ /** currently selected menu item **/
background-color: #D10000; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: white;
}

.active a{
  background-color: #D10000;
  color: #fff;
}

.off-canvas-navigation .nav-header {
  border-bottom: 1px solid rgba(55, 205, 25, 0.1);
  color: #D13140;
  margin: 0px 20px 5px 20px;
}

.clickable-row {
    cursor: pointer; 
}

#myTable {
    float:left;
    border:1px solid #dfdfdf;
    border-collapse:collapse;   
    width:100%;
    font-size:12px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
/*@media all and (min-width: 768px) and (max-width: 959px) {
    td.mob-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    } 
}*/
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
/*@media all and (max-width: 600px){
    td.mob-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.mob-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
@media (max-width: 768px) {
  td.tb-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.tb-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
@media (min-width: 768px) {
  td.desktop-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
    th.desktop-hide{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}*/
.height-350 {
  height: 350px !important;
}

.hero-image .inner h1 {
  background-color: rgba(255, 255, 255, 0.5);
  color: #d13234;
  font-size: 32px;
}

.background-color-grey-dark {
  background-color: #dbd9d9 !important;
}

.background-color-grey-dark h2{
  color: #d13234 !important;
}

.item.featured img {
  height: 158px;
}

.item img {
  height: 158px;
}

.hero-image .background {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}

#featur-header {
  margin-top: 0;
}

.header .wrapper .navigation-items .wrapper .user-area {
  margin: 5px 10px 0 0;
}

/*.header .wrapper .brand {
  float: right;
}*/

/*.header .wrapper .navigation-items {
  float: left;
}*/

/*.navigation-items .user-area {
  float: right;
}*/

.header .wrapper .navigation-items .wrapper .submit-item {
  margin-top: 2px;
}

/*.header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

#club-register {
    top: -9px;
}

#club-register .fa-stack-2x{
  color: #d43133;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
.schedule_dates {
  text-align: center;
  font-size: 14pt;
  padding-bottom: 10px;
}

.tametable.container {
  overflow: scroll;
}

.timetable {
    font-size: 11px;
    margin-top: 30px;
    width: 100%;
}

.timetable th, .timetable td {
    padding: 15px;
    text-align: center;
    width: 12.5%;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

.timetable .row_gray {
    background-color: #202020;
}

/*.timetable tbody tr {
    background: url("images/dotted_line.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}*/

.timetable .event-gray {
    background-color: #B0AEAE;
    border-bottom: 1px solid #151515;
    border-right: 1px solid #151515;
    color: #fff;
    line-height: 150%;
}

.timetable .event-green {
    cursor: pointer;
    background-color: #7CDAB1;
    border-bottom: 1px solid #151515;
    border-right: 1px solid #151515;
    color: #fff;
    line-height: 150%;
}

.timetable .event-red {
    background-color: #EDA4A4;
    border-bottom: 1px solid #151515;
    border-right: 1px solid #151515;
    color: #fff;
    line-height: 150%;
}

.timetable .event-red:hover {
    color: #000;
}


.event-red a:hover {
  color: #474747;
}

.event-gray a:hover {
  color: #474747;
}


.timetable .event-green:hover a {
    color: #ff513f;
}

.timetable .event a {
  font-size: 11px;
    color: #fff;
    display: block;
    font-weight: bold;
}
a {
    color: #59b42d;
    text-decoration: none;
}

.box_header {
    border-bottom: 1px solid #d43133;
    float: left;
    padding-bottom: 10px;
}
h3 {
    font-size: 16px;
}

.timetable.small {
    /*display: none;*/
    font-size: 13px;
}
.ui-tabs-panel ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.opening_hours {
    margin-top: 12px;
}
.opening_hours {
    clear: both;
    float: left;
    margin-top: 20px;
}
.items_list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.items_list li {
    padding: 10px 0 10px 25px;
}
.opening_hours li {
    width: 290px;
}
.items_list li {
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    float: left;
    padding: 12px 0 12px 25px;
    width: 100%;
}

#delete {
/*    padding-left: 5px;
  padding-right: 5px;*/
  float: right;
  display:inline-block;
  margin-right:5px;
}

#add {
/*    padding-left: 5px;
  padding-right: 5px;*/
  float: inherit;
  display:inline-block;
}

#status {
/*  padding-left: 5px;
  padding-right: 5px;*/
  float: left;
  display:inline-block;
  margin-left:5px;
}

.clubIcons {
  margin-bottom: 5px; 
}

.timetable th {
  font-style: oblique;
  font-size: initial; 
}

////////////////////////////////////////

h1{
  color:#FFF;
  text-align:center;
  background-color:#52CEB7;
  font-weight:bold;
  padding:10px 0;
  margin:0;
}

ul{
  list-style-type:none;
}
.bold{
  font-weight:bold;
}
.light-gray{
  color:#EEE;
}
.red{
  color:red;
}
.light-red{
  color:#D8838D;
}
.green{
  color:#5FEF37;
}

/* App */
#todo-app{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  
  margin:20px auto 0 auto;
  max-width:600px;
} 

/* Nav */
#menu{
  background-color:#7CDAB1;
  color:#FFF;
  margin:0px;
  padding:5px 0;
}
#menu ul{
  margin:0px;
  padding:5px 0px;
  text-align:center;
}
#menu li{
  display:inline;
}
#menu a{
  /*color:#FFF;*/
  padding:5px;
  /*border-radius:3px;*/
  /*background-color:#6BBEAF;*/
}
#menu a:hover{
  text-decoration:none;
  color: #ff513f;
  /*background-color:#8EC3BA;*/
}
#menu a .glyphicon{
  margin:0 6px 0px 0;
}

/* ToDo List */
ul#todo-list{
  margin:0px;
  padding:0px 0px;
}
ul#todo-list li{
  padding:0px 10px;
  position:relative;
}
ul#todo-list li.no-task{
  height:40px;
  text-align:center;
  line-height:40px;
}
ul#todo-list li input, ul#todo-list li label{
  margin:10px 0px;
}
ul#todo-list li input{
  position:absolute;
  top:3px;
  left:10px;
}
ul#todo-list li .btn-remove{
  border:0px solid #FFF;
  background:transparent;
  color:#BBB;
  padding:10px 10px;
  float:right;
  width:20%;
}
ul#todo-list li label.fistname{
  padding-left:30px;
/*  float:left;*/
  width:35%;
}
ul#todo-list li label.lastname{
  padding-left:30px;
  float:left;
  width:45%;
}
ul#todo-list li.odd{
  background-color:#FFF;
}
ul#todo-list li.even{
  background-color:#F7F7F7;
}
ul#todo-list li .btn-remove:hover{
  background-color:#EEE;
  color:#666;
}

/* ToDo Form */
#add-task-form{}
#add-task-form .form-group{
  margin:0px;
  width:100%;
}
#add-task-form input.fistname{
/*  float:left;*/
  width:35%;
  border-radius:0px;
}
#add-task-form input.lastname{
  float:left;
  width:45%;
  border-radius:0px;
}
#add-task-button{
  background-color:#f46547;
  height:34px;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  color:#FFF;
  border:0px solid #FFF;
  float:right;
  width:20%;
}
#add-task-button:hover{
  background-color:#F47358;
}
#add-task-button span{
  margin-right:5px;
}

/* Task counter */
#task-counter{
  font-size:12px;
  color:#888;
  padding:5px 10px;
  background-color:#CCC;
}



@media (max-width: 468px) {
  ul#todo-list li .btn-remove{
    font-size:10px;
  }
}

.athleteList li{
  cursor: pointer;
  margin-left: 10px;
}

#ModalDateLabel {
    margin-top: 5px;
  text-align: right;
  float:right;
  width: auto;
}
#ModalDateInput {
  margin-right: 20px;
  float: right;
  width: auto;
}

#absence td{
    text-align: center;
}