{% extends 'basenew.html' %}
{% load i18n static %}

{% block extra_css %}
	<style>
		body{
			background-color: #f5f5f5;
			line-height: 30px;
		}
		#about{
			color: #333;
		}
		#about ul{
			display: block;
			padding-right: 50px;
		}
		#about ul li{
			list-style: circle;
		}
		#about h3{
			margin: 80px 0 30px;
		}
		#about-menu{
			width: 100%;
		    position: fixed;
		    top: 61px;
		    background-color: #565a5c;
		    height: 40px;
			line-height: 40px;
			font-size: 13px;
			z-index: 1000;
			box-shadow: 0 0 2px #ccc;
		}
		#about-menu a{
			display: inline-block;
		    color: #555;
    		padding-left: 30px;
			color: #fff;
			cursor: pointer;
		}
		#team{
			border-top: 1px solid #efefef;
			width: 100%;
			background-color: #fff;
			color: #333;
			text-align: center;
			padding: 80px 0;
		}
		#team img{
			width: 250px;
		    height: 250px;
		    border-radius: 175px;
		    /* border: 5px solid #fff; */
		    margin: 0 auto;
		   /*  margin-bottom: 30px; */
		}
		#team p{
			padding: 30px 25px 0;
		}
		#support{
			background-image: url('{% static "img/avatech.jpg" %}');
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
			height: 320px;
			text-align: center;
		}
		#support h3{
			margin: 0;
			text-align: center;
			color: #fff;
			padding: 85px 0 50px;
		}
		#jobs{
			height: 600px;
		}
	</style>
{% endblock %}

{% block main %}
	<div id="about-menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a class="goto" item="1">درباره</a>
					<a class="goto" item="2">تیم ما</a>
					<a class="goto" item="3">حامیان</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="padding-top: 90px;padding-bottom: 60px;">
		<div class="row">
			<div class="col-md-12">

				<div id="about">
					<h3>درباره اسپورتآپ</h3>
					<p dir="RTL">
					    گاهی اوقات دلمون می خواد راحت و بی پرده کل مطلبُ تو چند تا جمله بگیم، فکر کنم این جا بهترین جا برای خودمونی صحبت کردن باشه .
					</p>
					<p>
						<ul>
							<li>اصلا ما چی هستیم؟</li>
							<li>چه کاری می خواهیم براتون انجام بدیم؟</li>
							<li>هدف ما از ارائه این سرویس چیه؟</li>
							<li>چه کسانی پشت صحنه دارن تلاش میکنن تا یه ارزش و یه سرویس کارآمد ایجاد کنن؟</li>
							<li>و در آخر، تو این مسیر شما قراره چه کمکی به ما بکنید؟</li>
						</ul>
					</p>
					<p dir="RTL">
					    اسپورتآپ یه نرم افزار آنلاین و هوشمنده. پس باید کلی کار بلد باشه، همینطور هم هست. به ورزشکارهایی که دنبال مکان ورزشی مناسب میگردن کمک میکنه تا راحت تر
					    باشگاه پیدا کنن. خوب بعد از این که پیداش کردن حتما می خوان اطلاعاتی در موردش داشته باشن، مثل اینکه: چه ورزشهایی داره؟ چه ساعتهایی خالیه و هزینه ثبت نام
					    چقدره؟ همه این کارها انجام میشه بدون اینکه لازم باشه از جایی به جای دیگه برن، فقط با یک دستگاه کامپیوتر یا گوشی تلفن هوشمند که به اینترنت وصل باشه. حالا
					    وقتی برای ورزش به باشگاه مورد نظرشون میرن، توقع یه کیفیت خوب و یه جای درست و حسابی دارن که خوب حق طبیعیه اوناس. گاهی این اتفاق نمی افته چون مدیران باشگاه
					    ها انقدر سرشون شلوغه که کیفیت میشه آخرین گزینه برای فکر کردن. پس وقتشه به فکر اونها هم باشیم.
					</p>
					<p dir="RTL">
					    راه چاره پیش ماست، سرویس آنلاین مدیریت مشتری. یعنی حتی از خونه هم میشه فهمید که تو باشگاه چه خبره، کی اومده کی نیومده، آخر ماه دخل وخرج جور در میاد یا نه،
					    مربی عوض بشه یا زیاد بشه، دستگاه جدید بخریم یا ورزش جدید ارایه بدیم، تا در کنار بهبود کیفیت تعداد مشتری ها هم زیادتر بشه و یک عالمه سرویس دیگه… .
					</p>
					<p dir="RTL">
					    خوب حالا معلوم شد که هدف بزرگی داریم. می خواهیم شما سالم و شاد باشین، می خواهیم جامعه سالم و شاد باشه، می خواهیم آمار های ناراحت کننده در مورد وضعیت سلامتی
					    عوض بشه، خلاصه ی کلام اینکه می خواهیم دیگه پول دوا و دکتر ندید.
					</p>
					<p dir="RTL">
					    این سرویس ها بعد از تحقیق و بررسی آمارهای مختلف الویت بندی شدن و مرتب در حال توسعه و بهبود هستن. تیم ما خودش عاشق تفریح و ورزشه. همه ما علاوه بر تخصص های
					    آکادمیک در زمینه علوم کامپیوتر، بازرگانی و روانشناسی، ورزشکار هم هستیم و می خواهیم دعوتتون کنیم تا با ما همراه بشین. به ما کمک کنین تا شرایط تغییر کنه، و
					    شادی و نشاط جای رخوت و افسردگی را درجامعه بگیره.
					</p>
					<p dir="RTL">
					    هر کسی تو زندگیش می تونه یک اثر ماندگار خلق کنه، ما منتظر پیشنهادهای شما هستیم تا ماندگار شویم.
					</p>
				</div>

			</div>
		</div>
	</div>

	<div id="team">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<img src="{% static 'http://placehold.it/300x300') }}" alt="" width="100%">
					<br>
					<p>
						اسپورتآپ یه نرم افزار آنلاین و هوشمنده. پس باید کلی کار بلد باشه، همینطور هم هست. به ورزشکارهایی که دنبال مکان ورزشی مناسب میگردن کمک میکنه تا راحت تر باشگاه پیدا کنن. خوب بعد از این که پیداش کردن حتما می خوان اطلاعاتی در موردش داشته باشن، مثل اینکه: چه ورزشهایی داره؟ چه ساعتهایی خالیه و هزینه ثبت نام چقدره؟ همه این کارها انجام میشه بدون اینکه لازم باشه از جایی به جای دیگه برن، فقط با یک دستگاه کامپیوتر یا گوشی تلفن هوشمند که به اینترنت وصل باشه.
					</p>
				</div>
				<div class="col-md-3">
					<img src="{% static 'http://placehold.it/300x300') }}" alt="" width="100%">
					<br>
					<p>
						اسپورتآپ یه نرم افزار آنلاین و هوشمنده. پس باید کلی کار بلد باشه، همینطور هم هست. به ورزشکارهایی که دنبال مکان ورزشی مناسب میگردن کمک میکنه تا راحت تر باشگاه پیدا کنن. خوب بعد از این که پیداش کردن حتما می خوان اطلاعاتی در موردش داشته باشن، مثل اینکه: چه ورزشهایی داره؟ چه ساعتهایی خالیه و هزینه ثبت نام چقدره؟ همه این کارها انجام میشه بدون اینکه لازم باشه از جایی به جای دیگه برن، فقط با یک دستگاه کامپیوتر یا گوشی تلفن هوشمند که به اینترنت وصل باشه.
					</p>
				</div>
				<div class="col-md-3">
					<img src="{% static 'http://placehold.it/300x300') }}" alt="" width="100%">
					<br>
					<p>
						اسپورتآپ یه نرم افزار آنلاین و هوشمنده. پس باید کلی کار بلد باشه، همینطور هم هست. به ورزشکارهایی که دنبال مکان ورزشی مناسب میگردن کمک میکنه تا راحت تر باشگاه پیدا کنن. خوب بعد از این که پیداش کردن حتما می خوان اطلاعاتی در موردش داشته باشن، مثل اینکه: چه ورزشهایی داره؟ چه ساعتهایی خالیه و هزینه ثبت نام چقدره؟ همه این کارها انجام میشه بدون اینکه لازم باشه از جایی به جای دیگه برن، فقط با یک دستگاه کامپیوتر یا گوشی تلفن هوشمند که به اینترنت وصل باشه.
					</p>
				</div>
				<div class="col-md-3">
					<img src="{% static 'http://placehold.it/300x300') }}" alt="" width="100%">
					<br>
					<p>
						اسپورتآپ یه نرم افزار آنلاین و هوشمنده. پس باید کلی کار بلد باشه، همینطور هم هست. به ورزشکارهایی که دنبال مکان ورزشی مناسب میگردن کمک میکنه تا راحت تر باشگاه پیدا کنن. خوب بعد از این که پیداش کردن حتما می خوان اطلاعاتی در موردش داشته باشن، مثل اینکه: چه ورزشهایی داره؟ چه ساعتهایی خالیه و هزینه ثبت نام چقدره؟ همه این کارها انجام میشه بدون اینکه لازم باشه از جایی به جای دیگه برن، فقط با یک دستگاه کامپیوتر یا گوشی تلفن هوشمند که به اینترنت وصل باشه.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="support">
		<h3>حامیان ما</h3>
		<a href="http://avatech.ir">
			<img src="{% static 'img/avatechs.png' %}" alt="">
		</a>
	</div>
{% endblock %}

{% block extra_js_end %}
	<script>
		$(function() {
			$('.goto').click(function(){
				switch($(this).attr('item')){
					case '1': itemTop = $('#about').offset().top - 80;break;
					case '2': itemTop = $('#team').offset().top;break;
					case '3': itemTop = $('#support').offset().top;break;
				}
				$('html, body').animate({scrollTop: itemTop - 50},'slow');
			});
		});
	</script>
{% endblock %}