{% extends 'basenew.html' %}
{% load i18n static %}

{% block extra_css %}
	<style>
		body{
			background-color: #f5f5f5;
		}
		h2{
			margin: 0 0 20px;
			font-weight: bold;
			padding: 10px;
			display: inline-block;
		}
		.container-fluid{
			padding: 101px 101px 50px;
			color: #333;
			line-height: 30px;
			box-shadow: 0 0 5px #ccc;
		}
	</style>
{% endblock %}

{% block main %}
	<div class="container-fluid" style="padding-top: 100px;">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form method="post" action="{% url "clubRegisterURL" %}">
                {% csrf_token %}
					<h3>پیوستن باشگاه شما</h3>
					<br>
                    {% for field in form %}
                        <a style="color: red">{{ field.errors }}</a>
                        <input type="{{ field.name }}" name="{{ field.html_name }}" class="form-control form-group" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"  {% if field.value %}value="{{ field.value }}"{% endif %}>
                    {% endfor %}

{#					<input type="text" class="form-control form-group" placeholder="نام باشگاه">#}
{#					<input type="text" class="form-control form-group" placeholder="نام و نام خانوادگی">#}
{#					<input type="text" class="form-control form-group" placeholder="شماره تماس">#}
					<input type="submit" value="ثبت باشگاه" class="btn btn-default">
				</form>
			</div>
		</div>
	</div>
{% endblock %}