<div class="col-sm-offset-3 col-sm-6" ng-controller="registeredSessionsClubCltr">
	<header><h2>لیست حضور و غیاب</h2></header>
	<nav id="menu">
		<ul class="athleteList">
			<li>
				<a ng-click="allAthletes()" class="btn">
  					<i class="fa fa-list fa-lg"></i> همه ورزشکارها </a>
			</li>
			<li>
				<a ng-click="notAttendedAthletes()" class="btn">
  					<i class="fa fa-remove fa-lg"></i> اعضای حضور نیافته </a>
			</li>
			<li>
				<a ng-click="attendedAthletes()" class="btn">
  					<i class="fa fa-check fa-lg"></i> اعضای حضور یافته </a>	
			</li>
		</ul>
	</nav>

	<div class="table-responsive">
      <table id="absence" class="table table-bordered table-striped">
         <tbody>
            <tr ng-repeat="athlete in filteredAthletes = (athletes | filter:{isDone:status}) | orderBy:'firstname'">
				<td style="width:95px;">
				  	<button ng-if="athlete.isDone == false" class="btn" ng-click="updateStatusAthlete(athlete)">
						ثبت ورود
					</button>
				</td>
				<td>{{athlete.firstname}}</td>
				<td>{{athlete.lastname}}</td>
				<td style="width:75px;">
					<button ng-click="deleteAthlete(athlete)" type="button" class="btn btn-danger">حذف</button>
				</td>
            </tr>
         </tbody>
      </table>
   </div>

	<div ng-repeat="item in absent = (athletes | filter:{isDone:false})"></div>
	<footer id="task-counter">
		<span ng-show="absent.length">
			<span class="bold">تعداد کسانی که حضور نیافتند :</span> {{ absent.length }} / {{ athletes.length }}
		</span>
		<span ng-hide="absent.length">
			<span class="bold">همه ورزشکارها حضور یافتند</span>
		</span>
	</footer>
</div>
