<article ng-Controller="sessionClubCtlr">
    <script type="text/ng-template" id="ClubinfoModal.html">
        <div class="modal-body">
          <header><h2>لیست حضور و غیاب</h2></header>

          <div class="table-responsive">
              <table class="table table-bordered table-striped">
                 <thead>
                    <tr>
                <th>
                  <input  type="text" ng-model="athlete.firstname" placeholder="نام" class="form-control"/>
                  </th>
                <th>
                    <input  type="text"  ng-model="athlete.lastname" placeholder="نام خانوادگی" class="form-control"/>
                </th>
                <th>
                  <input type="email" ng-model="athlete.email" placeholder="ایمیا" class="form-control"/>
                  </th>
                  <th>
                  <input type="text" ng-model="athlete.phone" placeholder="تلفن" class="form-control"/>
                  </th>
                <th style="width:75px;">
                  <button ng-click="addAthlete(athlete)" type="button" class="btn btn-success">اضافه</button>
                </th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr ng-repeat="athlete in filteredAthletes = (athletes | filter:{isDone:status}) | orderBy:'firstname'">
                      <td>{{athlete.firstname}}</td>
                      <td>{{athlete.lastname}}</td>
                      <td colspan="2">{{athlete.title}}</td>
                      <td>
                        <button ng-click="deleteAthlete(athlete)" type="button" class="btn btn-danger">حذف</button>
                      </td>
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger  " type="button" ng-click="ok()">خروج</button>
        </div>
     </script>
    <div class="table-responsive">
    <header><h2>برنامه هفتگی باشگاه</h2></header>
    <div class="schedule_dates">
        <a ng-if="week > 0" ng-click="previousWeek()" style="curser:pointer;"><i class="fa fa-arrow-right fa-lg"></i></a>
          {{Dates[0] | persianDate:'yy/MM/dd' }} - {{Dates[6] | persianDate:'yy/MM/dd' }}  
        <a ng-click="nextWeek()" style="curser:pointer;"><i class="fa fa-arrow-left fa-lg"></i></a>
    </div>

      <table class="timetable table table-bordered ">
          <thead>
              <tr>
                  <th></th>
                  <th ng-repeat = "day in days">{{day}}</br>{{Dates[$index] | persianDate:'yy/MM/dd' }}</th>
             
              </tr>
          </thead>
          <tbody >
              <tr ng-repeat="time in timeTableRenderObject">
                  <td ng-if="$index % labelTimeSpan == 0" class="text-center" rowspan="{{4}}">{{createLabel(label[$index / labelTimeSpan])}}</td>
                  <td ng-click="getInfo(day)" ng-class="{'event-gray' : (day.type == 1 && day.status == 0),
   'event-green': ((day.type == 1 && day.status == 1) && (day.capacity > 0)),
   'event-red': ((day.type == 1 && day.status == 1) && (day.capacity <= 0))}"  ng-repeat="day in time " rowspan="{{day.span}}">
                      <a style="text-align: center;" ng-if="day.type == 1" title="{{day.name}}">{{day.name}}</br>{{day.type == 1 ? createLabel(day) : ''}}</br>قیمت: {{day.price | noFractionCurrency : ''}}</br>ظرفیت: {{day.capacity}}</a>
                  </td>
              </tr>
          </tbody>
    </table>
  </div>
</article>