<article ng-Controller="sessionClubCtlr">
    <script type="text/ng-template" id="ClubinfoModal.html">
        <div class="modal-body">
            <article class="block">
            <header><h2>جزییات</h2></header>
              <input type="text" class="form-control"  datepicker-popup-persian="{{info.format}}" ng-model="info.date" is-open="beginIsOpen" ng-required="true" close-text="بسته"/>
            
            <table class="table table-bordered table-striped">
              <tr>
                <td class="text-center">عنوان</td>
                <td class="text-center">قیمت</td>
                <td class="text-center">ساعت شروع </td>
                <td class="text-center">ساعت پایان</td>
                <td class="text-center">نیاز به بیمه دارد</td>
              </tr>
              <tr>
                <td ng-bind="info.title" class="text-center"></td>
                <td ng-bind="info.price" class="text-center"></td>
                <td ng-bind="info.begin" class="text-center"></td>
                <td ng-bind="info.end" class="text-center"></td>
                <td ng-bind="info.needInsurance ? 'بله' : 'خیر'" class="text-center"></td>
              </tr>
              <tr>
                <td class="text-center">جنسیت</td>
                <td class="text-center">ظرفیت</td>
                <td class="text-center">ظرفیت باقی مانده</td>
                <td class="text-center">حداقل سن</td>
                <td class="text-center">حد اکثر سن</td>
              </tr>
              <tr>
                <td ng-bind="(info.genderLimit == 1 ? 'مرد' : 'زن' )" class="text-center"></td>
                <td ng-bind="info.maxCapacity" class="text-center"></td>
                <td ng-bind="info.remainCapacity || 0 " class="text-center"></td>
                <td ng-bind="info.ageMin" class="text-center"></td>
                <td ng-bind="info.ageMax" class="text-center"></td>
              </tr>

            </table>
          </article>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger  " type="button" ng-click="cancel()">خروج</button>
        </div>
     </script>
    <div class="table-responsive">
    <header><h2>برنامه هفتگی باشگاه</h2></header>
    <div class="schedule_dates">
        <a ng-if="week > 0" ng-click="previousWeek()" style="curser:pointer;"><i class="fa fa-arrow-right fa-lg"></i></a>
          {{Dates[0] | persianDate:'yy/MM/dd' }} - {{Dates[6] | persianDate:'yy/MM/dd' }}  
        <a ng-click="nextWeek()" style="curser:pointer;"><i class="fa fa-arrow-left fa-lg"></i></a>
    </div>

      <table class="timetable table table-bordered ">
          <thead>
              <tr>
                  <th></th>
                  <th ng-repeat = "day in days">{{day}}</br>{{Dates[$index] | persianDate:'yy/MM/dd' }}</th>
             
              </tr>
          </thead>
        <tbody >
            <tr ng-repeat="time in timeTableRenderObject">
                <td ng-if="$index % labelTimeSpan == 0" class="text-center" rowspan="{{4}}">{{createLabel(label[$index / labelTimeSpan])}}</td>
                <td ng-class="{'event-gray' : (day.type == 1 && day.status == 0),
 'event-green': ((day.type == 1 && day.status == 1) && (day.capacity - day.enroll > 0)),
 'event-red': ((day.type == 1 && day.status == 1) && (day.capacity - day.enroll <= 0))}"  ng-repeat="day in time " rowspan="{{day.span}}">
                    <a href="#" style="text-align: center;" ng-click="getInfo(day)" ng-if="day.type == 1" title="{{day.name}}">{{day.name}}</br>{{day.type == 1 ? createLabel(day) : ''}}</br>قیمت: {{day.price | noFractionCurrency : ''}}</br>ظرفیت: {{day.capacity - day.enroll}}</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</article>