{% extends 'dashboard/dashboard.html' %}
{% load i18n humanize generic_tags %}
{% load i18n static future program_tags %}
{% block dashboard %}

    
    <section class="table-responsive">
        <header><h2>{% trans "Programs" %}</h2></header>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for object in object_list %}
            {% if object.isValid %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ forloop.counter }}" aria-expanded="false" aria-controls="{{ forloop.counter }}">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                    <tr class="success" class="clickable-row" data-toggle="modal" data-target="#myModal">
                                        <td style="width: 30%">{{ object.title }}</td>
                                        <td style="width: 20%" class="mob-hide">{{ object.get_genderLimit_display }}</td>
                                        <td style="width: 15%" class="mob-hide">{{ object.usageBeginDate|g2j }}</td>
                                        <td style="width: 15%" class="mob-hide">{{ object.usageEndDate|g2j }}</td>
                                        <td style="width: 5%">{{ object.remainCapacity }}</td>
                                        <td style="width: 15%">{{ object.price|floatformat:2|intcomma }}</td>
                                        <td>{{ object.remainDays }}</td>
                                    </tr>
                            </tbody>
                        </table>
                        </a>
                  </h4>
                </div>
                <div id="{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr class="info">
                                    <th>{% trans "username" %}</th>
                                    <th>{% trans "first name" %}</th>
                                    <th>{% trans "last name" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for enroll in object.enrolled %}
                                 <tr>
                                    {% if enroll.status == 2%}
                                        <td>{{ enroll.user }}</td>
                                        <td>{{ enroll.user.first_name }}</td>
                                        <td>{{ enroll.user.last_name }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
        <section ng-app="app" >
        <session-table-club></session-table-club>
        <registered-sessions-club></registered-sessions-club>
        {#<registered-sessions-cell></registered-sessions-cell>#}
    </section>
{% endblock %}
{% block extra_js_end %}
<script type="text/javascript" src="{% static "assets/js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/angular-route.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/ui-bootstrap-tpls.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/dateparser.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/persiandate.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/persian-datepicker-tpls.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/filters.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/app.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/DataService.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/Session/sessionCtlr.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/Session/sessionDirective.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/SessionClub/sessionClubCtlr.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/SessionClub/sessionClubDirective.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/registeredSessions/registeredSessionsCtlr.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/registeredSessions/registeredSessionsDirective.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/registeredSessionsClub/registeredSessionsClubCltr.js" %}"></script>
<script type="text/javascript" src="{% static "assets/app/registeredSessionsClub/registeredSessionsClubDirective.js" %}"></script>
{% endblock %}