{% load i18n %}

{% if object_list %}
    {% for object in object_list %}
        {% if object.isValid %}
            <tr class="clickable-row" data-href="{% url 'enrollConfirmation' object.id %}">
                <td>{{ object.title }}</td>
                <td>{{ object.remainCapacity }}</td>
                <td>{{ object.price }}</td>
                <td class="mob-hide">{{ object.genderLimit }}</td>
                <td class="mob-hide">{{ object.usageBeginDate }}</td>
<!-- 	                <td>
                    <a class="btn btn-default" href="{% url 'enrollConfirmation' object.id %}">
                        <i class="fa fa-shopping-cart"></i> {% trans "Enroll" %}
                    </a>
                </td> -->
            </tr>
            <!--{{ object.agreementKey }} -->
<!--             {{ object.multipleReserve }}
            {{ object.usageBeginChoices }}
            {{ object.maxDays }}
            {{ object.maxSessions }}
            {{ object.expireDate }}ds
            <p><a href="{% url 'enrollConfirmation' object.id %}">{% trans "Enroll" %}</a></p> --!>
        {% endif %}
    {% endfor %}
{% endif %}

