{% load i18n %}

{% if object_list %}
    {% for object in object_list %}
        {% if object.isValid %}
            {{ object.id }}
            {{ object.title }}
            {{ object.agreementKey }}

            {{ object.maxCapacity }}
            {{ object.remainCapacity }}
            {{ object.price }}
            {{ object.ageMin }}
            {{ object.ageMax }}
            {{ object.genderLimit }}
            {{ object.needInsurance }}
            {{ object.multipleReserve }}

            {{ object.usageBeginChoices }}
            {{ object.usageBeginDate }}
            {{ object.usageEndDate }}
            {{ object.maxDays }}
            {{ object.maxSessions }}
            {{ object.expireDate }}
            <p><a href="{% url 'enrollmentConfirmation' object.id %}">{% trans "Enroll" %}</a></p>
        {% endif %}
    {% endfor %}
{% endif %}
