{% extends 'base.html' %}
{%  load i18n static %}

{% block main %}

    {% block authentication %}
    {% endblock %}

    {% if formLog.errors %}
        <div class="alert alert-danger">
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        </div>
    {% endif %}


    {% if formReg.errors %}
        <div class="alert alert-danger">
            <p>{% trans "You have error in register form." %}</p>
        </div>
    {% endif %}

{#    {% if next %}#}
{#        {% if user.is_authenticated %}#}
{#        <div class="alert alert-warning">#}
{#            <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>#}
{#        </div>#}
{#        {% else %}#}
{#        <div class="alert alert-info">#}
{#            <p>{% trans "Please login to see this page." %}</p>#}
{#        </div>#}
{#        {% endif %}#}
{#    {% endif %}#}

    {% if user.is_authenticated %}
        <h1>{% trans "You are already loggin in" %}</h1>
    {% else %}
    <section class="container">
        <div class="block">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-1">
                    <header>
                        <h1 class="page-title">{%trans "Sign In" %}</h1>
                    </header>
                    <hr>
                    <form role="form" id="form-sign-in-account" method="post" action="{% url 'accounts_login_register' %}?next={{ next }}">
                        {% csrf_token %}
                        {{ formLog }}
                        <input type="hidden" name="userAction" value="signIn" />
                        <div class="form-group clearfix">
                            <button type="submit" class="btn pull-left btn-default" id="account-submit">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                    <hr>
                    <a href="{% url 'password_reset' %}" class="link">{% trans "Lost your password?" %}</a>
                </div>
                <div class="col-md-4 col-sm-4 col-md-offset-1">
                    <header>
                        <h1 class="page-title">{% trans "Register" %}</h1>
                    </header>
                    <hr>
                    <form role="form" id="form-register" method="post" action="{% url 'accounts_login_register' %}?next={{ next }}">
                        {% csrf_token %}
                        {{ formReg }}
                        <input type="hidden" name="userAction" value="signUp" />
                        <div class="form-group clearfix">
                            <button type="submit" class="btn pull-left btn-default" id="account-submit">{% trans "Create an Account" %}</button>
                        </div>
                    </form>
                    <hr>
                    <div class="center">
{#                        <figure class="note">{% trans 'By clicking the “Create an Account” button you agree with our <a href="terms-conditions.html" class="link">Terms and conditions</a>' %}</figure>#}
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    {%  endif %}
{% endblock %}
{% block extra_js_end %}<script type="text/javascript" src="{% static "assets/js/icheck.min.js" %}"></script>{% endblock %}
