{% extends 'basenew.html' %}
{%  load i18n staticfiles %}

{% block extra_css %}
<style>
    body{
        background-color: #f5f5f5;
    }
    footer{
        position: fixed;
        width: 100%;
        bottom: 0;
    }
</style>
{% endblock %}

{% block meta_title %}{% trans "Sign In" %}{% endblock %}

{% block main %}

    {% block authentication %}
    {% endblock %}

    {% if formLog.errors %}
        <div class="alert alert-danger">
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        </div>
    {% endif %}


    {% if formReg.errors %}
        <div class="alert alert-danger">
            <p>{% trans "You have error in register form." %}</p>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <h1>{% trans "You are already loggin in" %}</h1>
    {% else %}
	<div class="container" style="padding-top: 20px;">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<form role="form" id="form-sign-in-account"  method="post" action="{% url 'accounts_login_register' %}?next={{ next }}">
                    {% csrf_token %}
					<h3>{% trans "Sign In" %}</h3>
					<br>
                    {% for field in formLog %}
                        <input type="{{ field.name }}" name="{{ field.html_name }}" class="form-control form-group" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"  {% if field.value %}value="{{ field.value }}"{% endif %}>
                        {{ field.errors }}
                    {% endfor %}
                    <input type="hidden" name="userAction" value="signIn" />
                    <a href="{% url 'password_reset' %}"><small>{% trans "Lost your password?" %}</small></a>
					<br>
					<br>
					<input type="submit" value="{% trans "Sign In" %}" class="btn btn-default">
				</form>

			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">

				<form role="form" id="form-register" method="post" action="{% url 'accounts_login_register' %}?next={{ next }}">
                    {% csrf_token %}
					<h3>{% trans "Register" %}</h3>
					<br>
                    {% for field in formReg %}
                        <input type="{{ field.name }}" name="{{ field.html_name }}" class="form-control form-group" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"  {% if field.value %}value="{{ field.value }}"{% endif %}>
                        {{ field.errors }}
                    {% endfor %}
                    <input type="hidden" name="userAction" value="signUp" />
					<input type="submit" value="ثبت نام" class="btn btn-default">
				</form>
			</div>
		</div>
	</div>
    {% endif %}

{% endblock %}
{% block extra_js_end %}<script type="text/javascript" src="{% static "assets/js/icheck.min.js" %}"></script>{% endblock %}
