{% extends "base.html" %}
{% load i18n static humanize %}

{% block main %}
    <section class="container">
        <div class="row">
            <!--Content-->
            <div class="col-md-10 col-md-offset-1">
                <header>
                    <h1 class="page-title">{% trans "Your programs to buy" %}</h1>
                </header>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr class="info">
                            <th style="width:40%;">{% trans "Image" %}</th>
                            <th style="width:60%;">{% trans "Description" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h3>{{ object.agreementKey.clubKey.title }}</h3>
                                <img src="{{ object.agreementKey.clubKey.logo.url }}" alt="{% trans "Logo" %}" >
                            </td>
                            <td>
                                <article class=""> <!--block-->
                                    <header><h2>{{ object.title }}</h2></header>
                                    <dl>
                                        <dt>{% trans "Capacity" %}</dt>
                                        <dd>{{ object.maxCapacity }}</dd>
                                        <dt>{% trans "Remain Capacity" %}</dt>
                                        <dd>{{ object.remainCapacity }}</dd>
                                        <dt>{% trans "Minimum age" %}</dt>
                                        <dd>{{ object.ageMin }}</dd>
                                        <dt>{% trans "Maximum age" %}</dt>
                                        <dd>{{ object.ageMax }}</dd>
                                        <dt>{% trans "Gender" %}</dt>
                                        <dd>{{ object.get_genderLimit_display }}</dd>
                                        {% if object.needInsurance %}
                                        <dt>{% trans "Need Insurance?" %}</dt>
                                        <dd>{% trans "Mandatory" %}</dd>
                                        {% endif %}
                                        <dt>{% trans "Begin date" %}</dt>
                                        <dd>{{ object.usageBeginDate|default:"-" }}</dd>
                                        <dt>{% trans "End date" %}</dt>
                                        <dd>{{ object.usageEndDate|default:"-" }}</dd>
                                        <dt>{% trans "Price" %}</dt>
                                        <dd>{{ object.price|floatformat:2|intcomma }} {% trans "Rials" %}</dd>
                                    </dl>
                                </article>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="payment" class="form-group clearfix">
                    <a class="btn btn-default" href="{% url 'enrollConfirmed' pk=object.id %}">
                        <i class="fa fa-shopping-cart"></i> {% trans "Payment" %}</a>
                    <!-- <button type="submit" class="btn pull-left pull-bottom btn-default">Payment</button> -->
                </div>

            </div>
        </div>
    </section>
{% endblock %}