{% extends 'base.html' %}
{%  load i18n static %}

{% block main %}
    {% block authentication %}
    {% endblock %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
        
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-warning">
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        </div>
        {% else %}
        <div class="alert alert-info">
            <p>Please login to see this page.</p>
        </div>
        {% endif %}
    {% endif %}
    <section class="container">
        <div class="block">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <header>
                        <h1 class="page-title">{%trans "Sign In" %}</h1>
                    </header>
                    <hr>
                    <form role="form" id="form-sign-in-account" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    </form>
                </div>
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <header>
                        <h1 class="page-title">Register</h1>
                    </header>
                    <hr>
                    <form role="form" id="form-register" method="post" action="?">
                    </form>
                    <hr>
                    <div class="center">
                        <figure class="note">By clicking the “Create an Account” button you agree with our <a href="terms-conditions.html" class="link">Terms and conditions</a></figure>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js_end %}<script type="text/javascript" src="{% static "assets/js/icheck.min.js" %}"></script>{% endblock %}
