{% extends "basenew.html" %}
{% load i18n static %}

{% block meta_title %}{% trans 'Password change' %}{% endblock %}

{% block extra_css %}
	<style>
		body{
			background-color: #f5f5f5;
		}
		h2{
			margin: 0 0 20px;
			font-weight: bold;
			padding: 10px;
			display: inline-block;
		}
		.container-fluid{
			padding: 101px 101px 50px;
			color: #333;
			line-height: 30px;
			box-shadow: 0 0 5px #ccc;
		}
		#map-holder{
			width: 100%;
			height: 210px;
		}
		#contact-info{
			text-align: left !important;
		    direction: ltr !important;
		    font-family: mitra, monospace !important;
		    font-size: 16px !important;
		}
	</style>
{% endblock %}


{% block main %}
    <section class="container-fluid">
            <div class="row">
            <div class="col-md-4"></div>
			<div class="col-md-4">

                    <form action="" method="post">{% csrf_token %}
                        <div>

                            <h1>{% trans 'Password change' %}</h1>

                            <fieldset class="module aligned wide">
                    {% for field in form %}
                        <a style="color: red">{{ field.errors }}</a>
                        <input type="password" name="{{ field.html_name }}" class="form-control form-group" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"  {% if field.value %}value="{{ field.value }}"{% endif %}>
                    {% endfor %}

                            </fieldset>

                            <div class="submit-row">
                                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-default"/>
                            </div>

                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
