{% extends "basenew.html" %}
{% load i18n static %}

{% block meta_title %}{% trans 'Password change' %}{% endblock %}

{% block extra_css %}
<style>
    body{
        background-color: #f5f5f5;
    }
    footer{
        position: fixed;
        width: 100%;
        bottom: 0;
    }
</style>
{% endblock %}


{% block main %}
    <section class="container">
            <div class="row">
            <div class="col-md-4"></div>
			<div class="col-md-4">
{#				<form role="form" id="form-sign-in-account"  method="post" action="{% url 'accounts_login_register' %}?next={{ next }}">#}
{#                    {% csrf_token %}#}
{#					<h3>{% trans "Sign In" %}</h3>#}
{#					<br>#}
{#                    {% for field in form %}#}
{#                        <input type="{{ field.name }}" name="{{ field.html_name }}" class="form-control form-group" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"  {% if field.value %}value="{{ field.value }}"{% endif %}>#}
{#                        {{ field.errors }}#}
{#                    {% endfor %}#}
{#                    <input type="hidden" name="userAction" value="signIn" />#}
{#                    <a href="{% url 'password_reset' %}"><small>{% trans "Lost your password?" %}</small></a>#}
{#					<br>#}
{#					<br>#}
{#					<input type="submit" value="{% trans "Sign In" %}" class="btn btn-default">#}
{#				</form>#}


                    <form action="" method="post">{% csrf_token %}
                        <div>
                            {% if form.errors %}
                                <p class="errornote">
                                    {% if form.errors.items|length == 1 %}
                                        {% trans "Please correct the error below." %}{% else %}
                                        {% trans "Please correct the errors below." %}{% endif %}
                                </p>
                            {% endif %}

                            <h1>{% trans 'Password change' %}</h1>

{#                            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>#}

                            <fieldset class="module aligned wide">

                                <div class="form-row">
                                    {{ form.old_password.errors }}
                                    <input type="{{ form.old_password.name }}" name="{{ form.old_password.html_name }}" class="form-control form-group" id="{{ form.old_password.id_for_label }}" placeholder="{{ form.old_password.label }}"  {% if form.old_password.value %}value="{{ form.old_password.value }}"{% endif %}>
{#                                    <label for="id_old_password"#}
{#                                           class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}#}
                                </div>

                                <div class="form-row">
                                    {{ form.new_password1.errors }}
                                    <input type="password" name="{{ new_password1.html_name }}" class="form-control form-group" id="{{ new_password1.id_for_label }}" placeholder="{% trans 'New password' %}"  {% if new_password1.value %}value="{{ new_password1.value }}"{% endif %}>
                                </div>

                                <div class="form-row">
                                    {{ form.new_password2.errors }}
<input type="password" name="{{ new_password1.html_name }}" class="form-control form-group" id="{{ new_password1.id_for_label }}" placeholder="{% trans 'New password' %}"  {% if new_password1.value %}value="{{ new_password1.value }}"{% endif %}>                                </div>

                            </fieldset>

                            <div class="submit-row">
                                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-default"/>
                            </div>

                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
