{% extends "email/emailbase.html" %}
{% load i18n generic_tags %}
{% block main %}
<p>
آقا/خانم
    {{ user.get_full_name }}
عزیز شما در ساعت
    {{ time }}
    تاریخ
    {{ date|g2j }}
در برنامه(ها)ی زیر ثبت نام کردید.
    </p>
    <table style="border-spacing:0; width: 95%; margin: 10px;">
        <tr>
            <td style="border: 1px solid #000000;">
                نام ورزشگاه
            </td>
            <td style="border: 1px solid #000000;">
نام برنامه
            </td>
            <td style="border: 1px solid #000000;">
تاریخ استفاده
            </td>
            <td style="border: 1px solid #000000;">
زمان استفاده
            </td>
            <td style="border: 1px solid #000000;">
قیمت
            </td>
        </tr>
        {% for obj in object %}
        <tr>
            <td style="border: 1px solid #000000; padding: 2px; border-top: none;">{{ obj.programDefinitionKey.clubKey.title }}</td>
            <td style="border: 1px solid #000000; padding: 2px; border-top: none;">{{ obj.programDefinitionKey.title }}</td>
            <td style="border: 1px solid #000000; padding: 2px; border-top: none;">{{ obj.date | g2j }}</td>
            <td style="border: 1px solid #000000; padding: 2px; border-top: none;">{{ obj.sessionTimeBegin }}</td>
            <td style="border: 1px solid #000000; padding: 2px; border-top: none;">{{ obj.amount }}</td>
        </tr>
        {% endfor %}
    </table>
   <p>
    لطفا برگه‌ی ثبت نام این دوره را از

       <a href="http://{{ request.get_host }}{% url 'dashboardURL' %}" target="_blank">داشبورد</a>
 خود چاپ نمایید و زمان استفاده همراه خود داشته باشید.
    لطفا 15 دقیقه قبل از زمان مشخص شده در باشگاه حاضر باشید
با تشکر از وقت شناسی شما.
   </p>
{% endblock %}